{% load staticfiles %}
<head>
  <link rel="stylesheet" type="text/css" href='/static/pubview/css/bootstrap.min.css' />
  <link rel="stylesheet" type="text/css" href="{% static 'pubview/css/style.css' %}" />
  <script type="text/javascript" src="/static/pubview/js/jquery-2.0.0.min.js"></script>
  <script type="text/javascript" src="/static/pubview/js/bootstrap.min.js"></script>
  <title>{% block title %}Recent publications{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script>
    $(document).ready(function(){
      $('.tt').tooltip()
    });
  </script>
</head>

<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#">PubView</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="active"><a href="#">My Page</a></li>
            <li><a href="#add_topic" data-toggle="modal">Add New Topic</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-unit">
    <h1>Welcome to PubView!</h1>
  </div>
  
  {% block content %}
  User: {{user.username}}
  <br/><br/>
  <div class='row-fluid'>
    <div class='offset1 span10'>
      <ul class='nav nav-tabs'>
        <li class='active'><a href="#unvoted_papers" data-toggle="tab">New papers</a></li>
        <li><a href="#liked_papers" data-toggle="tab">Liked papers</a></li>
        <li><a href="#disliked_papers" data-toggle="tab">Disliked papers</a></li>
      </ul>
      <div class='tab-content'>
        <div class='tab-pane active' id='unvoted_papers'>
          {% if latest_paper_list %}
          <ol>
            {% for paper in latest_paper_list %}
            <div class="list">
              <a href="{% url 'pubview:detail' paper.id %}" class='tt' data-toggle='tooltip' title="{{ paper.abstract }}" data-placement='right'>{{ paper.title }}</a>
              <br/>
              {{paper.get_citation}}, {{paper.get_authors}}<br/>
              <button name="votetype" id="1" value="U" class='btn btn-success'><i class="icon-arrow-up icon-white"></i> Like</button>
              <button name="votetype" id="2" value="D" class='btn btn-danger'><i class="icon-arrow-down icon-white"></i> Dislike</button>
              <button name="votetype" id="2" value="D" class='btn'>Not interested</button>
              <form action="{% url 'pubview:vote' paper.id %}" method="post"> {% csrf_token %}
              </form>
            </div>
            {% endfor %}
          </ol>
          {% else %}
            <p>No new papers are available.</p>
          {% endif %}
        </div>
        <div class='tab-pane' id='liked_papers'>
          {% if voted_paper_list %}
          {% else %}
            <p>You have not liked any papers yet.</p>
          {% endif %}
        </div>
        <div class='tab-pane' id='disliked_papers'>
          {% if voted_paper_list %}
          {% else %}
            <p>You have not disliked any papers yet.</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>  
  <div id="add_topic" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="add_topic_label" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
      <h3 id="add_topic_label">Choose topic to add...</h3>
    </div>
    <div class="modal-body">
      <input type="text" class='span3'   data-provide="typeahead" style="margin: 0 auto;" autocomplete='off' data-source='["Population Genetics", "eQTLs"]' />
      <br/>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <button class="btn btn-primary">Add Topic</button>
    </div>
  </div>
  {% endblock %}
</body>